## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de Datos
Las estructuras de datos son formas de organizar informacion para trabajar con ella de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [ ]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [ ]:
print(lista_de_compras[6])

jamon

In [ ]:
# Agregar un elmento a la lista .apoend()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Agregar un elemento en una posicion especifica
lista_de_compras.insert(1, "platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [ ]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
# Para eliminar un elemeno de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [ ]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento
lista_de_compras.pop(7)# o puedes agarrar la posicion que quieras (pero iniciando desde cero)
# Nota: Te retorna el numero eliminado

'jamon'

In [ ]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [ ]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [15]:
# Opcional
import random
opciones = ["piedra", "papel", "tijeras"]

while True:
  while True:
    eleccion = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ")
    if eleccion not in opciones and not eleccion == "salir":
      print("Opción no válida, intenta de nuevo.")
    else:
      break

  if eleccion == "salir":
    print("¡Gracias por jugar!")
    break
  aleatoria = random.choice(opciones)
  print("La computadora eligió:", aleatoria)

  # Determinamos el ganador
  if eleccion == aleatoria:
    print("Empate")
  elif (eleccion == "piedra" and aleatoria == "tijeras") \
        or (eleccion == "papel" and aleatoria == "piedra") \
        or (eleccion == "tijeras" and aleatoria == "papel"):
    print("Ganaste!:))")
  else:
    print("Perdiste:((")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligió: tijeras
Ganaste!:))

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligió: tijeras
Perdiste:((

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¡Gracias por jugar!

In [ ]:
promedios = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
# ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [ ]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [ ]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [ ]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j=1
  for cali_j in cali_i:
    print(f" Cali {j}: {cali_j}")
    j += 1
  j=0
  i += 1

Alumno 1
 Cali 1: 100
 Cali 2: 88
 Cali 3: 93

Alumno 2
 Cali 1: 99
 Cali 2: 56
 Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables.

In [ ]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
print(type(fechas))
fechas

<class 'tuple'>

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [ ]:
# ES INMUTABLE
fechas.append("10/06/03") # TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista

# SETS
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [ ]:
nombre = {"Angel","Kevin","Diana","Juan","Juan"}
print(nombre)
print(type(nombre))

{'Kevin', 'Juan', 'Angel', 'Diana'}
<class 'set'>

In [ ]:
distintos_datos = {"Angel",1, "Diana", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [ ]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Juan', 'Kevin', 'Leonardo'}

In [ ]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [ ]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [ ]:
# Union
matutino = {20322,22183,123123,53234}
vespertino = {20322,111111,222222,3333}
# Union pero con .union()
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 3333, 22183, 111111, 222222, 53234, 123123}
{20322, 3333, 22183, 111111, 222222, 53234, 123123}

In [ ]:
# Interseccion
ca = {1234,18273,172737,193837,1818,1818}
al = {1234,1111,2222,3333}
# Interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# Interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [ ]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{18273, 1818, 172737, 193837}
{18273, 1818, 172737, 193837}

In [ ]:
nombre = {"Angel","Kevin","Diana","Juan","Juan"}
#remove , pop
#nombre.remove("Angel") #Puedes eliminar el que tu qieras
print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Kevin', 'Juan', 'Angel', 'Diana'}
{'Juan', 'Angel', 'Diana'}

In [ ]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [2]:
alumno = {
    #clave    valor
    "nombre": "Kevin Garcia",
    "edad": 18,
    "carrera": "IMA",
    "semestre": 3,
    "promedio": 82,
    "calificaciones": [100, 70, 92, 89, 98]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Kevin Garcia',
 'edad': 18,
 'carrera': 'IMA',
 'semestre': 3,
 'promedio': 82,
 'calificaciones': [100, 70, 92, 89, 98]}

In [3]:
#-------------------------------------HASTA AQUI------------------#
print("El alumno ", alumno["nombre"], "esta estudiando ", alumno["carrera"])

El alumno  Kevin Garcia esta estudiando  IMA

In [4]:
# Agregar al diccionario
alumno["area preferida"] = "Ingenieria"
alumno

{'nombre': 'Kevin Garcia',
 'edad': 18,
 'carrera': 'IMA',
 'semestre': 3,
 'promedio': 82,
 'calificaciones': [100, 70, 92, 89, 98],
 'area preferida': 'Ingenieria'}

In [5]:
for valor in alumno:
  print(alumno[valor])

Kevin Garcia
18
IMA
3
82
[100, 70, 92, 89, 98]
Ingenieria

In [6]:
for aspecto, valor in alumno.items():
  # devuelve una vista de todos los pares clave:valor del diccionario
  print(aspecto, ":", valor)

nombre : Kevin Garcia
edad : 18
carrera : IMA
semestre : 3
promedio : 82
calificaciones : [100, 70, 92, 89, 98]
area preferida : Ingenieria

In [7]:
# El método .clear() tambien usar aqui.
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Kevin Garcia

In [10]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Kevin Garcia'), ('edad', 18), ('carrera', 'IMA'), ('semestre', 3), ('promedio', 82), ('calificaciones', [100, 70, 92, 89, 98]), ('area preferida', 'Ingenieria')])
<class 'dict_items'>
[('nombre', 'Kevin Garcia'), ('edad', 18), ('carrera', 'IMA'), ('semestre', 3), ('promedio', 82), ('calificaciones', [100, 70, 92, 89, 98]), ('area preferida', 'Ingenieria')]
<class 'list'>

In [11]:
# El metodo .values() sirve para obtener los values del diccionario, tambien se puede usar en la interaccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Kevin Garcia', 18, 'IMA', 3, 82, [100, 70, 92, 89, 98], 'Ingenieria'])

In [12]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [13]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre":2})
alumno

{'nombre': 'Kevin Garcia',
 'edad': 18,
 'carrera': 'IMA',
 'semestre': 2,
 'promedio': 82,
 'calificaciones': [100, 70, 92, 89, 98],
 'area preferida': 'Ingenieria'}

In [14]:

# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()
if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? Manzana
Compraste 1 manzana. Stock restante: 9